@import "tailwindcss";

/* top heading */
.fade-down-heading {
  animation: fadeDown 1s ease-out forwards;
  opacity: 0;
  transform: translateY(-60px);
}

@keyframes fadeDown {
  from {
    opacity: 0;
    transform: translateY(-70px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* top para  */
.paragraph-fade {
  opacity: 0;
  animation: fadeIn 1.5s ease-out forwards;
  animation-delay: 0.3s; /* Optional delay */
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
/* fade right animation  */
.fade-right {
  opacity: 0;
  transform: translateX(-90px);
  animation: fadeRight 0.8s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

@keyframes fadeRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

/* slide right  */
.slide-right {
  opacity: 0;
  transform: translateX(-90px);
  animation: slideRight 0.8s ease-out forwards;
}

@keyframes slideRight {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes flip {
  0% { transform: rotateY(0); }
  50% { transform: rotateY(180deg); }
  100% { transform: rotateY(0); }
}


/* circle icons animation  */
.bounce-circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #3b82f6;
  animation: gentle-fall 0.8s cubic-bezier(0.4, 0, 0.6, 1) forwards;
  opacity: 0;
  transform: translateY(-150px);
}

@keyframes gentle-fall {
  0% {
    transform: translateY(-150px);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}